# Database
# DATABASE_URL="postgresql://neondb_owner:npg_XcBCW4eE8zOi@ep-orange-shape-adpyy59r-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require/postgres?schema=public"

DATABASE_URL='postgresql://neondb_owner:npg_ve0dltgH5Rip@ep-billowing-voice-ahlhs2t6-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

# JWT
ACCESS_TOKEN_SECRET="replace-with-32+char-secret"
REFRESH_TOKEN_SECRET="replace-with-32+char-secret"
ACCESS_TOKEN_TTL="15m" # short lived
REFRESH_TOKEN_TTL="7d" # long lived

# Server
PORT=4000
CORS_ORIGIN=http://localhost:5173
COOKIE_SECURE=false # true in prod (HTTPS only)